body {
  height: 100vh;
}

.form-container{
  max-width: 350px;
  padding: 1rem;
}

.switch {
  border:solid 0.5px rgba(255, 255, 255, 0.383);
  width: 90px;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;

  border-radius: 20px;
  background-color: rgba(43, 48, 53, 0.097);
  position: relative;
}

.switch img{
  position: absolute;
  background-color: rgba(209, 208, 208, 0.938);
  border-radius: 100%;
  padding: 5px;
  width: 40px;

  top: 50%;
  transform: translateY(-50%);
}

.switch img.on {
  position: absolute;
  background-color: rgba(209, 208, 208, 0.938);
  border-radius: 100%;
  padding: 5px;
  width: 40px;

  top: 50%;
  right: -1px;
  transform: translateY(-50%);
}