body {
  height: 100vh;
}

.form-container{
  max-width: 350px;
  padding: 1rem;
}

.switch {
  border:solid 0.5px rgb(11, 94, 215);
  width: 90px;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;

  border-radius: 20px;
  background-color: rgba(62, 155, 247, 0.097);
  position: relative;
}

.dark .switch img{
  position: absolute;
  background-color: rgba(62, 155, 247, 0.938);
  border-radius: 100%;
  padding: 5px;
  width: 40px;

  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
  animation: slidenight 0.2s;
}

.light .switch img {
  animation: slidelight 0.2s forwards; 
}



@keyframes slidelight {
  from {
    right: 50%;
  }

  to {
    right: 0%;
  }
}

@keyframes slidenight {
  from {
    right: 0%;
  }

  to {
    right: 50%;

  }
}
